.padded{
    padding-top: 30px;
}

.nav-item-heading{
    font-weight: bold;
    text-decoration: underline;
    color: #7e3f9d;
}

.font-big{
    font-size: xx-large;
}
.round-padd{
    padding: 30px 10px;
}

.with-blink{
    text-decoration: blink;
}

.pad-10-60{
    padding: 10px 60px;
}

.pad-5-60{
    padding: 10px 60px;
}

.pad-5-5{
    padding: 5px 5px;
}


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}



