.padded{
    padding-top: 30px;
}

.nav-item-heading{
    font-weight: bold;
    text-decoration: underline;
    color: #7e3f9d;
}

.font-big{
    font-size: xx-large;
}
.round-padd{
    padding: 30px 10px;
}

.with-blink{
    text-decoration: blink;
}

.pad-10-60{
     padding: 10px 60px;
 }
.pad-5-60{
    padding: 10px 60px;
}


